name: My Second Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - name: Install cowsay
              run: sudo apt-get install cowsay -y 

            - name: Welcome Message
              run: |
                  cowsay -f dragon "RUN FOR Cover" >> dragon.txt
                  grep -i "dragon" dragon.txt
                  cat dragon.txt
                  ls -ltra
