name: My Second Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

            - name: Install cowsay
              run: sudo apt-get install cowsay -y 

            - name: Create Dragon file 
              run: cowsay -f dragon "RUN FOR Cover" >> dragon.txt
            
            - name: Test file exists
              run: grep -i "dragon" dragon.txt

            - name: cat dragon
              run: cat dragon.txt
            
            - name: List Repo File
              run: ls -ltra
